*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
img{
    width: 100%;
}

.container{
    width: 90%;
    margin: 0 auto;
}


.nav-section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-top: 20px;
   padding-bottom: 20px;

}
.nav-list{
    display: flex;
 
}
.nav-item{
    margin-left: 30px;
}
.tel-number{
    background: #00BAFC;
    border-radius: 5px;
    padding: 8px 16px;
    color: #fff;
}
.nav-section{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

html{
    scroll-behavior: smooth;
}

.youtube-section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.video{
    width: 50%;
    min-height: 330px;
    border-radius: 5px;
    margin-right: 5%;
   
}
.youtube-section .container h2{
    width: 55%;
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 30px;
    font-weight: bold;
    

}
.youtube-section .container p{
    width: 50%;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    font-family: Open Sans
}
.youtube-section .container a{
  background:   #00BAFC;
  padding: 8px 16px;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}
.youtube-section .container {
    margin-top: 100px;
}
.youtube{
    margin-left: 5%;
}
.xizmatlar-item img{
    width: 205px;
}
.section-xizmatlar .container{
    text-align: center;
}
.xizmatlar-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly ;
 
}
.xizmatlar-item{
    width: 320px;
    height: 260px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    margin: 30px;
    margin-top: 50px;
    margin-bottom: 60px;
}
.photo-header{
font-size: 20px;
line-height: 26px;
margin-top: 20px;
margin-bottom: 20px;
}
.photo-p{
    font-size: 16px;
}
.xz{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.xz-p{
    font-weight: bold;
    font-size: 16px;
    width: 600px;
    margin: 0 auto;
  
}
.section-xizmatlar{
    margin-top: 150px;
}
.talablar-item img{
width: 300px;
height: 235px;
}

.buyurtma{
    color: #fff;
    background: #00bafc;
    padding: 8px 16px;
    border: 1px solid #00bafc;
    border-radius: 5px;
    transition: 0.5s;
    margin-right:5px ;
}
.buyurtma:hover{
  color: #00bafc;
  background: #fff;

}
.saxifa{

    color: #00bafc;
    text-decoration: underline;
    margin-left: 5px;
}


.talablar-list{
    
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;

}
.talablar-list:nth-child(odd){
flex-direction: row-reverse;
}
.talablar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
} 
.biz{
text-align: center;
font-weight: bold;
font-size: 24px;
margin-bottom: 30px;
}
.biz-p{
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
    width: 620px;
    

}
.about-us{
    margin-top: 170px;
}

.div{
    margin: 0 50px;
}
.div h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.div-link{
    text-align: center;
}
.by-link{
    text-align: center;
    margin: 0 auto;
   
}
.section-blue{
    background: #00BAFC;
    color: white;
    margin-top: 70px;
    padding: 50px;
}
.input{

    padding: 15px;
    width: 300px;
    height: 56px;
    color: black;
    display: block;
    margin: 0 auto;
    background: #F3F3F3;
    border:none;
    border-radius: 5px;
   
}
.div-form{
    background: #fff;
   
    width: 348px;
    padding-bottom:30px ;
  margin: 0 auto;

}

label{
    padding: 10px;
}
form{
    margin-bottom: 30px;
}
.buyurtma-h{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
}
.buyurtma-p{
     text-align: center;
     font-size: 16px;
     line-height: 24px;
     width: 650px;
     margin: 0 auto;
     margin-bottom: 30px;

}
.s-footer{
  background:#191919;
  padding: 50px;
}
.ul-footer{

    display: flex;
    color:white;
}
.li-footer img{
width: 22px;
position: absolute;
left:0px;

}
.li-footer{
    position: relative;
    margin-right: 50px;
   
}
.li-footer h4{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}
.li-footer p{
    font-size: 16px;
    width: 280px;
    line-height: 24px;
}
.menu{
    padding: 8px 16px;
    background:#00BAFC;
    border-radius: 5px;
    display: none;
}
.flx{
    display: flex;
    flex-direction: column;
    
}
.flx a {
    padding-left:30px ;
    margin-bottom: 15px;
    color: #fff;

}
.ll{
    margin-left: 100px;
   
}
.ll a{
    color: white;
}


@media(max-width:1320px){
    .video{
        width: 60%;
    }
}

@media(max-width:1220px){
    .video{
        width: 70%;
    }
}

@media(max-width:1120px){
    .video{
        width: 80%;
    }
}

@media(max-width:1080px){
    .video{
        width: 90%;
    }
   
}
@media(max-width:1020px){
    .youtube-section .container{
        display: flex;
        flex-direction: column-reverse;
       
    }
    .video{
        margin-left: 20px;
        margin-bottom: 30px;
        height: 350px;
    }
    .youtube {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
       
       
    }
    .youtube h2{
        width: 100%;
    }
    .youtube p{
        width: 100%;
    }
   
}
@media(max-width:960px){
    .nav-list{
        display: none;
    } 
    .menu{
        display: inline-block;
    }

    .ul-footer{
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 0;
    }
    .li-footer{
     
        margin-left: 0;
        margin-top: 30px;
    }
    .ll{
       
    }
   
}
@media(max-width:740px){
    
   .buyurtma-p{
       width: 600px;
   }
}
@media(max-width:855px){
    .youtube {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       
       
    }
  
}
@media(max-width:680px){
    
    .buyurtma-p{
        width: 80%;
    }
 }
 @media(max-width:660px){
    
   .biz-p{
       width: 80%;
   }
 }
 @media(max-width:640px){
    
    .xz-p{
        width: 80%;
    }
  }
  @media(max-width:490px){
    
    .talablar-item img {
        width: 55%;
        height: 60%;
    }
  }
  @media(max-width:430px){
    
    .div-form{
        width: 90%;
    }
    .input{
        width: 80%;
    }
  }
  @media(max-width:400px){
    
    .talablar-item img {
        width: 0;
        height: 0;
    }
  }
  @media(max-width:340px){
    
   .li-footer p{
       width: 70%;
   }
   .ul-footer{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0;
    align-items: center;
}
  }