*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
img{
    width: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
}
.container-fluid{
    width: 90%;
    margin: 0 auto;
}

/* p{
    width: 40%;
    padding: 50px;
}
.ul{
    
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;

}
ul:nth-child(odd){
flex-direction: row-reverse;
}
.li{
    display: flex;
    align-items: center;
    justify-content: center;
} */